body,
html {
	width: 100%;
	background: rgb(0, 255, 250);
	background: linear-gradient(15deg, rgba(0, 255, 250, 0.1) 0%, rgba(217, 255, 142, 0.2) 37%, rgba(214, 255, 154, 0.3) 57%, rgba(0, 184, 63, 0.3) 91%);
	/* background-color: #5b6467;
	background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%); */

	font-size: 10px;
	font-family: sans-serif;
	line-height: 1.7;
}

.person {
	/* добавьте ваш код  */
	max-width: 144rem;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	/* justify-content: ; */
	font-size: 1.6rem;
	color: #000;
	padding: 3.2rem 10% 0 10%;
}

.person__info {
	/* Когда сравнивал с эталонным выполнением заметил, что каждому дочернему
	flex элементу добавляют сокращённое свой-во flex. В теории понял для чего, 
	но если бы ещё на уроке про это проговорили было бы отлично.  */

	max-width: 48rem;
	margin-bottom: 3.2rem;
}

.person__contacts {
	/* добавьте ваш код  */
}

.person__details {
	/* добавьте ваш код  */
}

.avatar {
	/* добавьте ваш код  */
	margin-right: 3.2rem;
	border: 3.2rem solid #fff;
	border-radius: 1000px;
}

.avatar__picture {
	/* добавьте ваш код  */
	border-radius: 1000px;
	transition: all 1s;
}

.avatar__picture:hover {
	transform: rotate(180deg);
}

.contacts {
	/* добавьте ваш код  */
	font-weight: 900;
}

.contacts__name {
	/* добавьте ваш код  */
	font-size: 3.2rem;
}

.contacts__role {
	/* добавьте ваш код  */
	font-size: 1.92rem;
	margin-bottom: 3.2rem;
}

.contacts__item {
	/* добавьте ваш код  */
	font-size: 1.6rem;
	font-weight: 400;
	font-style: italic;
}

.contacts__title {
	/* добавьте ваш код  */
	font-size: 1.6rem;
	font-weight: 700;
}

.contacts__title:after {
	/* добавьте ваш код  */
}

.contacts__link {
	/* добавьте ваш код  */
	color: grey;
}

.paragraph {
	/* добавьте ваш код  */
	margin-bottom: 1.6rem;
	font-weight: 400;
}

.paragraph_last {
	/* добавьте ваш код  */
	margin-bottom: 4.8rem;
}

.motivation {
	font-weight: 400;
}

.motivation__item {
	margin-left: 1.2rem;
	list-style: circle;
}

.motivation__item:last-child {
	margin-bottom: 1.6rem;
}

@media only screen and (max-width: 600px) {
	.person {
		/* добавьте ваш код  */
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		font-size: 1.6rem;
		color: #000;

	}

	.avatar {
		/* добавьте ваш код  */
		margin: 0;
		align-self: center;
		border: 1.2rem solid #fff;
		border-radius: 1000px;
	}

	.contacts__name {
		/* добавьте ваш код  */
		text-align: center;
	}

	.contacts__role {
		/* добавьте ваш код  */
		text-align: center;
	}

	.person__contacts {
		/* добавьте ваш код  */
		max-width: 48rem;
		width: 100%;
		margin-bottom: 1.6rem;
	}

	.motivation {
		font-weight: 400;
	}

	.paragraph {
		/* добавьте ваш код  */
		margin-bottom: 1.6rem;
		font-weight: 400;
	}
}

.knockout {

	vertical-align: middle;
	text-align: center;
	font-family: 'Pacifico', cursive;
	/* font-size: 50pt; */
	color: blue;
	color: #fff;
	background: linear-gradient(110deg, #DB0058 33%, rgba(0, 0, 0, 0) 33%),
		linear-gradient(110deg, #ED6B9F 34%, #80E800 34%);
	background-size: 400%;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.knockout {
	animation: Gradient 5s ease infinite;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 30% 50%
	}

	50% {
		background-position: 25% 50%
	}

	100% {
		background-position: 30% 50%
	}

}

.parallax {
	width: 100%;
	height: 100vh;
	background-image: url(./pic2.jpg);
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
}

.glow {
	font-size: 80px;
	color: #fff;
	text-align: center;
	animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}

	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
}